.order {
  float: left;
  width: 150px;
}

.title {
  float: left;
  width: 150px;
}

.state {
  float: left;
  width: 150px;
}

.effort {
  float: left;
  width: 150px;
}

.priority {
  float: left;
  width: 150px;
}

.user {
  background-color: rgba(100, 100, 100, 0.40);
  border: 2px solid black;
  border-radius: 100px;
  padding: 1px;
  color: black;
  font-family: "Arial Black", Gadget, sans-serif;
}

.backlog {
  background-color: rgba(100, 100, 100, 0.40);
  border: 3px solid black;
  border-radius: 10px;
  padding: 3px;
  color: black;
  font-family: "Arial Black", Gadget, sans-serif;
}

.task {
  color: #d8d8d8;
  width: 400px;
}

html {
    height: 100%;
    background: white;
    background: radial-gradient(circle, #CCFFFF  30%, #E8E8E8 );
    background-size: cover;
}

header {
  background-color: rgba(100, 100, 100, 0.40);
  border: 2px solid black;
  border-radius: 10px;
  padding: 1px;
  color: black;
  font-family: "Arial Black", Gadget, sans-serif;
  word-spacing: 100px;
}

footer {
  background-color: rgba(100, 100, 100, 0.40);
  border: 4px solid black;
  border-radius: 10px;
  padding: 5px;
  color: black;
  font-family: "Arial Black", Gadget, sans-serif;
}
